#game div {
  border: 1px solid darkkhaki;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}
body{
  background-color:lavender;
}
.center {
margin: auto;
width: 80%;
padding: 10px;
text-align: center;
}
h1 {
  font-family: Impact, Arial, sans-serif;
  color: darkslateblue;
font-size: 300%;
 text-transform: uppercase;
 letter-spacing: 1px;
}
h2 {
  font-family: Arial, sans-serif;
  color: rgb(20, 15, 54);
font-size: 100%;
 text-transform: uppercase;
 letter-spacing: 1px;
}